in/Schemas/model_core_mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="model_core_mapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="core" type="core" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="core">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="part" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
